.material-icons {
    font-size: 30px;
  }
  #sideNav .material-icons{
    font-size: 15px;
  }
  th .material-icons{
    font-size: 15px;
  }
  input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
  }

  .side-nav {
    z-index: 1100;
    width: 300px; 
    margin-left:-300px  
  }

  .table th{
      border-top: 0;
  }

  .cap{
    z-index: 1050; 
    background: rgba(0, 0, 0, 0.3)
  }

  .text-truncate{
    max-width: 250px;
  }

  .back-to-top {
    bottom: 50px;
    right: 30px;
}