/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   select, input[type="text"]{
    box-sizing:content-box;
  }

   body {
    margin: 0;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(21, 22, 22);
    text-align: left;
    background-color: rgb(255, 255, 255);
}
header{
    background: rgb(235, 234, 234)!important;
    display: block;
    padding:8px;
}
.nav-bar{
    list-style: none;
}
.nav-bar li {   
    display: inline;
}
.nav-item a{
    padding-right: 8px ;
    color: rgba(0,0,0,.5);
    text-decoration: none;
    background-color: transparent;
}
.nav-item a.active { 
    color: rgba(0,0,0,.9);
 }

 .nav-item a:hover { 
    color: rgba(0,0,0,.8);
 }
 .container {
    width: 1100px!important;
    margin:0 auto;
    padding-left: 16px;
    padding-right: 16px;
 }
 .row{
     width: 100%;
     display: flex;
     justify-content: space-between;
 }
.row-item{
    width: 50%;
    padding-bottom: 8px;
}
.text-rigth{
    text-align: right!important;
}
.row-item strong{
    font-weight: bolder;
    display: inline;
}
.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 3px 6px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.btn:hover{
    border: 2px solid;
    border-color: rgba(0,0,0,.3)
}
.btn-blue{
    background-color: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);
}
.btn-green{
    margin-left: 16px;
    background-color: rgb(40, 168, 70);
    border-color: rgb(40, 167, 69);
}
.row-list{
    padding: 8px 0;
}
.row-list .row-item{
    text-align: left;
    width: 24%;
}
.row-list .row-item .btn{
    border: 1px solid;
    border-color: rgba(0,0,0,.5);
    width: 100%;
    height: 30px;     
    cursor: default;
    color: rgb(21, 22, 22);
    text-align: left;
    box-sizing: border-box;   
}
.row-list .row-item .btn:hover{
    border: 2px solid;
    border-color: rgba(9, 132, 233, 0.5);
}
.bt{
    width: 64%;
}
.st{
    width: 34%;  
}
.table{
    border-collapse: collapse;
    box-sizing: border-box;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none;
}
.table th{
    border-top: rgb(190, 190, 190) solid 1px;
    border-bottom: rgb(190, 190, 190) solid 2px;  
    padding:5px 5px;
}
.table td{
    border-bottom: rgb(190, 190, 190) solid 1px;
    padding:7px 0;
    cursor:move;  
}
.table tbody tr:hover{
    background-color: rgba(0,0,0,.3);
}
.sticky-top{
    background-color: #fff;
    position: sticky;
    top: 0px;
}
.sticky{ 
    position: sticky;
    top: 75px;
}
.needBel{
    background:repeating-linear-gradient(180deg, #ffffff, #ffffff 7px,#ed0909 0px, #ff0000 18px );
    width: 36px;
    height: 24px;
    border: 1px solid;
} 


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
